students {
    background-color: bisque;
    font-family: 'ubuntu';
}

* {
    display: block;
    margin: 10px;   
}
name {
    font-size: 15pt;
    color: #ff5500;
}

rollNo, college, branch, yoj {
    margin-left: 25px;
}
rollNo::before {
    content: 'Roll No : ';
    font-weight: bold;
}
college::before {
    content: 'College : ';
    font-weight: bold;
}
branch::before {
    content: 'Branch : ';
    font-weight: bold;
}
yoj::before {
    content: 'Joining : ';
    font-weight: bold;
}